{% extends 'back.html.twig' %}
{% block title%} Liste des Quizs{% endblock %}


{% block container %}


<form method="post" action="{{ path('FiltrerQuizb') }}">
    <h5>nombre de questions</h5>
    <div>
        <input type="number" placeholder="Nombre de questions minimum" name="nbMin" value="0">
        <input type="number" placeholder="Nombre de questions maximum" name="nbMax" value="100">
    </div>
    <div>
        <h5>Durée</h5>
        <input type="number" placeholder="durée minimum" name="dureeMin" value="0">
        <input type="number" placeholder="durée maximum" name="dureeMax" value="100">
    </div>
    <div>
        <input type="submit" value="Filtrer">
    </div>

    <div class="section search" style="width: 100%;">
    <h2 class="title">Rechercher</h2>
    <form action="{{ path('searchAllb') }}" method="post">
        <input type="text" id="recherche" style="width: 80%;" name="mot" class="input is-default" placeholder="Search..."><button  style="float: right;width: 20%; height: 100%;" type="submit" class="button primary-button"><i class="fa fa-search"></i> </button>
    </form>
    {% if quizs %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Thematique :</th>
                <th>Durée :</th>
                <th>Nombre des questions :</th>
            </tr>
            </thead>
            <tbody>
            {% for q in quizs %}
                <tr>
                    <td>{{ q.theme }}</td>
                    <td>{{ q.duree }}</td>
                    <td>{{ q.nbquestion }}</td>
                    <td>

                        <a href="/admin/modifierQuiz/{{ q.id }}" class="btn btn-dark">Modifier</a>
                        <a href="/suppQuiz/{{ q.id }}" class="btn btn-danger"
                           onclick="return confirm('Etes-vous sûr de supprimer ce Quiz?');">Supprimer</a>
                        <a href="/trierq{{ q.id }}" class="btn btn-dark">Trier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun Question</p>
    {% endif %}

    <a href="/admin/ajoutQuiz" >Ajouter un Quiz</a>

{% endblock %}