{% extends 'base.html.twig' %}

{% block title %}{{ question.id }}{% endblock %}

{% block body %}
    <h1>{{ question.id }}</h1>
    <p>{{ question.enonce }}</p>
    <p>{{ question.note }}</p>
    <p>{{ question.reponse }}</p>
    <hr>
    <a href="/">Retour</a>
{% endblock %}