{% extends 'back.html.twig' %}
{% block title%} Liste des Quizs{% endblock %}


{% block container %}
    {% if quizs %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Thematique :</th>
                <th>Durée :</th>
                <th>Nombre des questions :</th>
            </tr>
            </thead>
            <tbody>
            {% for q in quizs %}
                <tr>
                    <td>{{ q.theme }}</td>
                    <td>{{ q.duree }}</td>
                    <td>{{ q.nbquestion }}</td>
                    <td>

                        <a href="/admin/modifierQuiz/{{ q.id }}" class="btn btn-dark">Modifier</a>
                        <a href="/suppQuiz/{{ q.id }}" class="btn btn-danger"
                           onclick="return confirm('Etes-vous sûr de supprimer ce Quiz?');">Supprimer</a>
                        <a href="/trierq{{ q.id }}" class="btn btn-dark">Trier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun Question</p>
    {% endif %}

    <a href="/admin/ajoutQuiz" >Ajouter un Quiz</a>
{% endblock %}