{% extends 'base.html.twig' %}
{% block container %}
    {% block title %}Détails Entretien{% endblock %}
    {% block name %}Détails Entretien{% endblock %}
<form method="post" action="{{ path('recherche') }}">
    <label>Recherche</label>
    <input type="text" name="search"><input type="submit" value="Recherche">
</form>
<table border="2" align="center" id="box1">
    <tr>


        <th width="100"
            height="100" align="center"> ID_Offre </th>

        <th width="100"
            height="100" align="center"> Date_Entretien </th>

        <th width="100"
            height="100" align="center"> Type_Entretien </th>

        <th width="100"
            height="100" align="center"> Adresse </th>







    </tr>
    {% for entretien in listentretien %}
    <tr>

        <td  width="100"
             height="100"align="center">{{ entretien.Offre.id }}</td>
        <td  width="100"
             height="100"align="center">{{ entretien.DateEntretien|date('Y-m-d') }}</td>
        <td  width="100"
             height="100"align="center">{{ entretien.TypeEntretien }}</td>
        <td  width="100"
             height="100"align="center">{{ entretien.Adresse }}</td>


        {% endfor %}

    </tr>







</table>

{% endblock %}