
{% extends 'base.html.twig' %}
{% block title %}Show_Event{% endblock %}
{% block container %}
    {% block name %}Show_Event{% endblock %}



    <h4>Formations of {{ events.title }}</h4>


    <div class="slider-area ">
        <section class="recent-case-area section-padding30">


            <!-- Nav Card -->



            {% for formation in formations %}
            <!-- Card two -->
            <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-4 col-lg-4 col-md-6">
                            <div class="single-practice mb-30">
                                <div class="practice-img">
                                    <img src="{{asset('frontbundle/assets/img/legal/legal_1.png')}}" alt="">

                                    <div class="practice-icon">
                                        <span>{{ formation.prix}} dt</span>
                                    </div>
                                </div>
                                <div class="practice-caption2">
                                    <h4>{{ formation.nom  }}</h4>
                                    <p>Type :{{ formation.type }}</p>
                                    <p> Durée:{{ formation.duree}} Heures</p>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                {% endfor %}
            </div></section></div>
{% endblock %}