
{% extends 'base.html.twig' %}
{% block title %}khadamni{% endblock %}
{% block container %}
    {% block name %}QUIZ{% endblock %}

    <div class="row">
        <h5> {{ quiz.Theme }}  </h5>
        <form>
            {% for question in quiz.questions %}
                <div class="col-sm-12">
                    <div class="card">
                        <h5 class="card-body"></h5>

                        <h5 class="card-title"> {{ question.enonce }}</h5>

                        <h6 class="card-title"> {{ question.choix1 }} </h6>
                        <h6 class="card-title"> {{ question.choix2 }} </h6>
                        <h6 class="card-title"> {{ question.choix3 }} </h6>

                    </div>
                </div>
            {% endfor %}

        </form>
        {{ form_start(form) }}
        {{ form_widget(form) }}
        {{ form_end(form) }}
    </div>



    </div>
{% endblock %}