{% extends 'base.html.twig' %}

{% block container %}

<h1 align="center"> offres</h1>
<form method="post" action="{{ path('rechercheO') }}">
    <label>Recherche</label>
    <input type="text" name="searchO"><input type="submit" value="Recherche">
</form>
<table border="2" align="center" id="box1">
    <tr>
        <th width="100"
            height="100" align="center">ID </th>

        <th width="100"
            height="100" align="center"> titre </th>

        <th width="100"
            height="100" align="center"> entreprise </th>

        <th width="100"
            height="100" align="center"> adresse </th>

        <th width="100"
            height="100" align="center"> postes_vacants </th>

        <th width="100"
            height="100" align="center"> type_contrat </th>

        <th width="100"
            height="100" align="center"> experience </th>

        <th width="100"
            height="100" align="center"> remuneration </th>

        <th width="100"
            height="100" align="center"> langues </th>

        <th width="100"
            height="100" align="center"> description </th>

        <th width="100"
            height="100" align="center"> date_expiration </th>

        <th width="100"
            height="100" align="center"> delete </th>
        <th width="100"
            height="100" align="center"> update </th>

    </tr>
    {% for offre in listoffre %}
    <tr>
        <td width="100"
            height="100" align="center"> {{offre.id}}</td>
        <td  width="100"
             height="100"align="center">{{ offre.titre }}</td>
        <td  width="100"
             height="100"align="center">{{ offre.entreprise }}</td>
        <td  width="100"
             height="100"align="center">{{ offre.adresse }}</td>
        <td  width="100"
             height="100"align="center">{{ offre.PostesVacants }}</td>
        <td  width="100"
             height="100"align="center">{{ offre.typecontrat }}</td>
        <td  width="100"
             height="100"align="center">{{ offre.experience }}</td>
        <td  width="100"
             height="100"align="center">{{ offre.remuneration }}</td>
        <td  width="100"
             height="100"align="center">{{ offre.langues }}</td>
        <td  width="100"
             height="100"align="center">{{ offre.description }}</td>
        <td  width="100"
             height="100"align="center">{{ offre.dateexpiration|date('Y-m-d') }}</td>

        <td width="100"
            height="100">   <a href="{{path('supprimer',{'id':offre.id }) }}">supprimer</a>                              </td>
        <td width="100"
            height="100">   <a href="{{path('modifieroffre',{'id':offre.id }) }}">modifier</a>   </td>


        {% endfor %}

    </tr>







</table>
<br></br>
<div  align ="center"><a  class="sty" href="{{path('ajouterOffre') }}" class>ADD offre</a> </div>
{% endblock %}
